
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.image-box {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 500px;
}
.image-box img {
    max-width: 62%;
    transition: all 0.3s;
    display: block;
    height: auto;
    margin:20px;
    transform: scale(1);
}

.image-box:hover img {
    transform: scale(1.1);
}
